root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 3
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 3
trim_trailing_whitespace = true

[*.java]
indent_size = 3
tab_width = 3

[{*.xml,*.xsd,*.xsl}]
indent_size = 4
tab_width = 4

[{*.yaml,*.yml}]
indent_size = 2
tab_width = 2

[{*.json,*.jsonc}]
indent_size = 2
tab_width = 4

[{*.md,*.adoc}]
indent_size = 4
tab_width = 4
trim_trailing_whitespace = false

[{*.properties}]
indent_size = 3
tab_width = 3

[{*.sh,*.bash,*.zsh}]
indent_size = 2
tab_width = 2
