name: Test

on:
  push:
    branches:
      - main
      - development
      - 14.0.x
      - 15.0.x
      - 15.1.x
  pull_request:
    branches:
      - main
      - development
      - 14.0.x
      - 15.0.x
      - 15.1.x

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - if: github.base_ref == 'main' || github.ref_name == 'main'
        name: Start Infinispan Server Latest Stable Version
        run: |
          docker run -d -p 11222:11222 -e USER="admin" -e PASS="password" quay.io/infinispan/server:16.0
          # Wait for server to startup
          curl --fail --silent --show-error --retry-all-errors --retry 240 --retry-delay 1 http://localhost:11222/rest/v2/container/health/status > /dev/null

      - if: github.base_ref == 'development' || github.ref_name == 'development'
        name: Start Infinispan Server Latest Dev Version
        run: |
          docker run -d -p 11222:11222 -e USER="admin" -e PASS="password" quay.io/infinispan-test/server:main
          # Wait for server to startup
          curl --fail --silent --show-error --retry-all-errors --retry 240 --retry-delay 1 http://localhost:11222/rest/v2/container/health/status > /dev/null

      - if: github.base_ref == '15.1.x' || github.ref_name == '15.1.x'
        name: Start Infinispan Server Latest Version
        run: |
          docker run -d -p 11222:11222 -e USER="admin" -e PASS="password" quay.io/infinispan/server:15.1
          # Wait for server to startup
          curl --fail --silent --show-error --retry-all-errors --retry 240 --retry-delay 1 http://localhost:11222/rest/v2/cache-managers/default/health/status > /dev/null

      - if: github.base_ref == '15.0.x' || github.ref_name == '15.0.x'
        name: Start Infinispan Server Latest Version
        run: |
          docker run -d -p 11222:11222 -e USER="admin" -e PASS="password" quay.io/infinispan/server:15.0
          # Wait for server to startup
          curl --fail --silent --show-error --retry-all-errors --retry 240 --retry-delay 1 http://localhost:11222/rest/v2/cache-managers/default/health/status > /dev/null

      - if: github.base_ref == '14.0.x' || github.ref_name == '14.0.x'
        name: Start Infinispan Server Latest Version
        run: |
          docker run -d -p 11222:11222 -e USER="admin" -e PASS="password" quay.io/infinispan/server:14.0
          # Wait for server to startup
          curl --fail --silent --show-error --retry-all-errors --retry 240 --retry-delay 1 http://localhost:11222/rest/v2/cache-managers/default/health/status > /dev/null


      - name: JDK 17 Tests
        run: ./mvnw -B clean install -Dmaven.test.failure.ignore=true

      - name: Test Logs
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: jdk17-test-results
          path: "**/target/*-reports*/**/TEST-*.xml"

      - name: Get thread dump on failure
        if: failure()
        run: docker kill $(docker ps -q) -s 3

      - name: Dump docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v2